# Token con permisos de lectura (Contents: Read) para repos privados
GITHUB_TOKEN=
GITHUB_API_BASE_URL=https://api.github.com
GITHUB_API_VERSION=2026-03-10
GITHUB_REPO_OWNER=aI-dev-innovators
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
AUTH_SECRET=
AUTH_TRUST_HOST=true
ALLOWED_EMAIL_DOMAINS=nttdata.com,emeal.nttdata.com

BETTER_AUTH_URL=http://localhost:4321

PUBLIC_SUPABASE_URL=TU_SUPABASE_URL
PUBLIC_SUPABASE_PUBLISHABLE_KEY=TU_SUPABASE_PUBLISHABLE_KEY
SUPABASE_SERVICE_ROLE_KEY=TU_SUPABASE_SERVICE_ROLE_KEY
REPOSITORY_MANAGER_EMAILS=admin@empresa.com,otro@empresa.com

CRON_SECRET=valor_aleatorio_generado
CATALOG_SYNC_SECRET=mismo_valor_aleatorio_generado
CATALOG_ALLOW_REMOTE_FALLBACK=false